#container, html, body {
  height: 100%;
  margin: 0;
}

.back-top {
  background-color: #D5EADB;
  height: 60%;
}

.back-bott {
  background-color: #FDE892;
  height: 40%;
  text-align: center;
}

.vending-machine {
    position: absolute;
    height: 400px;
    width: 257px;
    top: 38%;
    left: 50%;
    margin-left: -128.5px;
    margin-top: -200px;
}

.vending-machine:hover {
  cursor: pointer;
}

.vm-logo {
  position: absolute;
  height: 350px;
  top: 0px;
  left: -60px;
}

#drinks, #chips, #bars {
  /*position: absolute;*/
  height: 150px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
}

#drinks:hover, #chips:hover, #bars:hover{
  transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2)); /* IE 9 */
  -webkit-transform: scale(1.2, 1.2);
  cursor: pointer;
}

.vending-machine:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0) rotate(-0.5deg);
  }

  20%, 80% {
    transform: translate3d(1px, 0, 0) rotate(0.5deg);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0)rotate(-0.5deg);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0) rotate(0.5deg);
  }
}
/*.vm-logo:hover {
  -webkit-animation:spin .2s linear infinite;
  -moz-animation:spin .2s linear infinite;
   animation:spin .2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }*/
